@model IEnumerable<SearchFunctionality.tbl_UserRegistration>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container-fluid">
    <div class="row mb-3">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            @Html.Label("Search", new { @class = "col-sm-2 col-form-label" })

            <div class="col-sm-6">
                @Html.TextBox("SearchText", null, new { @class = "form-control", @placeholder = "Search your text here " })
            </div>
            <div class="col-md-2">
                <input type="submit" value="Search"/>
            </div>
        }
        </div>

       
        <div class="row">

            <div class="col-md-12">

                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Password)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>

                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>

                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                            </td>
                        </tr>
                    }

                </table>

            </div>

        </div>

    </div>

